*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #03a9f4;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #ffffff 3px solid;
}
h1 {
    padding: 5px 0;
    text-align: center; 

}
div{
    padding: 10px 0;
    text-align: center;
    background-color: gradient-linear(to right, #00c6ff, #0072ff);
}     